---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"categories":[],"created_at":"2020-01-05 13:42:30.730109","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"4UXPnQ3aQZelqeZbVuviNA","updated_at":"2020-01-05
        13:42:30.730109","url":"https://api.chucknorris.io/jokes/4UXPnQ3aQZelqeZbVuviNA","value":"Chuck
        Norris raced Sonic The Hedgehog and lost... by about 3 Planck time. Ok, so
        they didn''t race, but it''s an estimate... Sonic''s top speed: 45 miles per
        Planck time. Chuck Norris''s top speed: 89.728 miles per 2 Planck times. By
        the way, in case you''re wondering, one Planck time is 5.4 times 10-to-the-power-of-negative-44
        seconds. That''s how long it takes for light to travel one Planck LENGTH (16.162
        times 10-to-the-power-of-negative-36-meters). Therefore, Chuck Norris is faster
        than light, and only a bit slower than Sonic."}'
  recorded_at: Mon, 07 Feb 2022 02:49:37 GMT
recorded_with: VCR 6.0.0
