---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/search?query=snakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total":15,"result":[{"categories":["food"],"created_at":"2020-01-05
        13:42:19.104863","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"rmippwentlkoza8wlv_vjg","updated_at":"2020-01-05
        13:42:19.104863","url":"https://api.chucknorris.io/jokes/rmippwentlkoza8wlv_vjg","value":"Some
        people like to eat frogs'' legs. Chuck Norris likes to eat lizard legs. Hence,
        snakes."},{"categories":[],"created_at":"2020-01-05 13:42:19.897976","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"RdhIXDiOSzCn5_rc6mF6yQ","updated_at":"2020-01-05
        13:42:19.897976","url":"https://api.chucknorris.io/jokes/RdhIXDiOSzCn5_rc6mF6yQ","value":"Chuck
        Norris falls in a pit with hundreds of Rattlesnakes. The next day he emerges
        with [...]
