---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random?category=music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"categories":["music"],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"0_acdyhnthyshildaipp1q","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/0_acdyhnthyshildaipp1q","value":"Who
        let the dogs out? Chuck Norris let the dogs out... and then roundhouse kicked
        them through an Oldsmobile."}'
  recorded_at: Mon, 07 Feb 2022 03:00:16 GMT
recorded_with: VCR 6.0.0
